body {
  font-size: 20px;
  color: #666666;
}

h1 {color: cadetblue;}

#ingredients {color: tomato;}
#directions  {color: navy;}

.p-ingredients {font-style: italic;}
.p-directions  {font-family: sans-serif;}
